#dogList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.dogCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 250px;
	height: 300px;
	margin: 20px;
	padding: 10px;
	border-radius: 20px;
	background-color: var(--outset-bg-color);
	color: var(--background-color);
}

.dogCard img {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.dogCard .name {
	font-size: 24px;
	font-weight: bold;
}

.dogCard .breed {
	font-size: 18px;
}

.dogCard .owner {
	font-size: 18px;
}

.dogCard .owner::before {
	content: "Owner: ";
}
