.dogform {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
}
.dogform input {
	width: 200px;
	height: 30px;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid var(--accent-color);
}

.dogform .button {
	color: black !important;
}
