:root {
	--background-color: #fff;
	--outset-bg-color: #353535;
	--inset-background-color: #d5d5d5;
	--accent-color: #7bfe93;
	--secondary-accent-color: #5da9e9;
}

body {
	background-color: var(--background-color);
	font-family: "Roboto mono", sans-serif;
	color: black;
	font-size: 20px;
	line-height: 1.6;
	padding-top: 100px;
}

* {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 30px;
	font-weight: bolder;
	margin: 0;
	text-align: center;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	background-color: var(--inset-background-color);
	font-size: 1rem;
	z-index: 100;
	height: 100px;
}

#logo-box {
	display: flex;
	align-items: center;
	font-weight: bold;
}

nav img {
	height: 40px;
	padding: 20px;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0px;
	padding: 20px;
}

nav a {
	text-decoration: none;
	display: inline-block;
	color: var(--text-color);
	padding: 0 20px;
	transition: 0.3s ease;
}

nav a:hover {
	color: var(--accent-color);
}

nav a:active {
	color: var(--secondary-accent-color);
	scale: 0.95;
}

header {
	background-color: var(--outset-bg-color);
	color: var(--background-color);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0;
}

header img {
	width: 400px;
	height: auto;
}

#landingPageText {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	align-items: start;
	width: 400px;
	height: 406px;
}

#personalInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.button {
	background-color: var(--outset-bg-color);
	color: var(--text-color);
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	border: var(--accent-color) solid;
	margin-top: 5px;
	font-size: smaller;
	transition: 0.3s ease;
	cursor: pointer;
}

.button.outlined {
	background-color: transparent;
	color: white !important;
	border: var(--accent-color) solid;
}

.button:hover {
	background-color: var(--accent-color);
	color: white;
}

.button:active {
	scale: 0.95;
}

.button.highlighted {
	animation-name: highlighted;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes highlighted {
	0% {
		background-color: var(--accent-color);
	}
	50% {
		background-color: var(--secondary-accent-color);
	}
	100% {
		background-color: var(--accent-color);
	}
}

.insetButton {
	background-color: var(--bg-color);
	color: var(--text-color);
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
}

.insetButton:hover {
	background-color: var(--accent-color);
	color: var(--bg-color);
}

section {
	margin: 20px 0px 20px 0px;
}

section img {
	width: 105px;
	height: auto;
}

section p {
	margin: 10px;
	text-align: center;
	font-size: 14px;
}

#about {
	padding: 50px 50px;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	--hexagon-color: var(--outset-bg-color);
	--border-color: #384;
	background: radial-gradient(
				circle farthest-side at 0% 50%,
				var(--hexagon-color) 23.5%,
				rgba(240, 166, 17, 0) 0
			)
			42px 60px,
		radial-gradient(
				circle farthest-side at 0% 50%,
				var(--border-color) 24%,
				rgba(240, 166, 17, 0) 0
			)
			38px 60px,
		linear-gradient(
				var(--hexagon-color) 14%,
				rgba(240, 166, 17, 0) 0,
				rgba(240, 166, 17, 0) 85%,
				var(--hexagon-color) 0
			)
			0 0,
		linear-gradient(
				150deg,
				var(--hexagon-color) 24%,
				var(--border-color) 0,
				var(--border-color) 26%,
				rgba(240, 166, 17, 0) 0,
				rgba(240, 166, 17, 0) 74%,
				var(--border-color) 0,
				var(--border-color) 76%,
				var(--hexagon-color) 0
			)
			0 0,
		linear-gradient(
				30deg,
				var(--hexagon-color) 24%,
				var(--border-color) 0,
				var(--border-color) 26%,
				rgba(240, 166, 17, 0) 0,
				rgba(240, 166, 17, 0) 74%,
				var(--border-color) 0,
				var(--border-color) 76%,
				var(--hexagon-color) 0
			)
			0 0,
		linear-gradient(
				90deg,
				var(--border-color) 2%,
				var(--hexagon-color) 0,
				var(--hexagon-color) 98%,
				var(--border-color) 0%
			)
			0 0 var(--hexagon-color);
	background-size: 80px 120px;

	background-attachment: fixed;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.9);
}

.about-item-img {
	width: 200px;
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

#about p {
	text-align: left;
}

section {
	margin: 0;
}

.exercise {
	background-color: var(--inset-background-color);
	padding-bottom: 10px;
}

.exerciseHeader {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	background-color: var(--outset-bg-color);
	color: var(--background-color);
	padding: 20px;
}

.exerciseHeader img {
	width: 30px;
	height: auto;
	margin-left: 20px;
	cursor: pointer;
}

.exerciseSubheader {
	font-size: 1rem;
	background-color: var(--outset-bg-color);
	color: var(--background-color);
	padding: 20px;
	padding-top: 0px;
}

footer {
	background-color: #222;
	color: #fff;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ccc;
	font-size: smaller;
}
